@model IEnumerable<ISAD251CafeApplication.Models.Orders>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {
        $("#frmOrderSearch").submit(function () {
            var url = "OrderHistory/" + document.getElementById("txtSearch").value
            window.location.href = url;
        });
    });
</script>


<div class="panel panel-default" style="opacity:0.95; margin:50px;">
    <div class="panel-heading">
        All Orders
    </div>
    <div class="panel-body">

        <form id="frmOrderSearch" onsubmit="return false">
            <div class="row">
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="txtSearch" placeholder="Search By Order ID" />
                </div>
                <div class="col-sm-2">
                    <input type="submit" id="btnSearch" class="btn btn-primary" value="Search" />
                </div>
            </div>
        </form>
        <hr />

        @{
            if (Model != null && Model.Count() > 0)
            {

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TableNumber)
                            </th>
                            <th>
                                Order Content
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TotalPrice)
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            string status = "";
                            DateTime? statusDateTime = null;

                            if (order.Cancelled != null)
                            {
                                status = "Cancelled";
                                statusDateTime = order.Cancelled;
                            }
                            else if (order.Completed != null)
                            {
                                status = "Completed";
                                statusDateTime = order.Completed;
                            }
                            else
                            {
                                status = "Active";
                            }

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => order.OrderId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => order.TableNumber)
                                </td>
                                <td>

                                    @{
                                        foreach (OrderLines ol in order.OrderLines)
                                        {

                                            <ul>
                                                <li>@ol.ItemName x @ol.Quantity = @Math.Round((ol.Quantity * ol.UnitPrice), 2) </li>
                                            </ul>
                                        }

                                    }

                                </td>
                                <td>
                                    &pound;@Html.DisplayFor(modelItem => order.TotalPrice)
                                </td>
                                <td>
                                    @status <br /> @statusDateTime
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => order.Created)
                                </td>
                                <td>
                                    @{
                                        @if (status == "Active")
                                        {
                                            using (Html.BeginForm("Cancel", "OrderHistory", FormMethod.Post))
                                            {
                                                <input type="hidden" name="orderId" value="@order.OrderId" />
                                                <input type="submit" class="btn btn-danger" value="Cancel Order" />
                                            }
                                        }
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <h1>No Orders Found</h1>
                <p>No orders match your search criteria </p>
                <a href="/OrderHistory" role="button" class="btn btn-primary">Back to Order History</a>
            }
        }

    </div>

</div>

