@model IEnumerable<ISAD251CafeApplication.Models.Items>

<script>
    $(document).ready(function () {
        $("#frmItemSearch").submit(function () {
            var url = "/Items/ItemSearch/" + document.getElementById("txtSearch").value
            window.location.href = url;
        });
    });
</script>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<form id="frmItemSearch" onsubmit="return false">
    <input type="text" id="txtSearch" />
    <input type="submit" id="btnSearch" value="Search" />
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{

    if (Model != null && Model.Count() > 0)
    {


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemCategory)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemCategory)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Active)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |


                            @{
                                if (item.Active)
                                {
                                    <a asp-action="ToggleMenuStatus" asp-route-id="@item.ItemId">Remove From Menu</a>
                                }
                                else
                                {
                                    <a asp-action="ToggleMenuStatus" asp-route-id="@item.ItemId">Add To Menu</a>
                                }
                            }


                        </td>
                    </tr>
                }
            </tbody>


        </table>
    }
    else
    {
        <h1>No Items Found</h1>
        <p>There are currently no items to view. You can create one <a asp-action="Create">here</a></p> 
    }

}
