@model IEnumerable<ISAD251CafeApplication.Models.Items>

@{
    ViewData["Title"] = "Index";
}

<script>
    $(document).ready(function () {
        $("#btnPlaceOrder").click(function () {
            if (document.getElementById("txtTableNumber").value == "") {
                alert("Please enter a valid table number. (Between 1 and 30)");
            } else if (document.getElementById("txtTableNumber").value < 1 || document.getElementById("txtTableNumber").value > 30) {
                alert("Please enter a valid table number. (Between 1 and 30)");
            } else {
                var url = "/Menu/CompleteOrder/" + document.getElementById("txtTableNumber").value
                window.location.href = url;
            }
        });
    });
</script>


<h2>Checkout - Finalise your order</h2>

@{
    if (Model != null)
    {

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemPrice)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemDescription)
                        </td>
                        <td>
                            £@Html.DisplayFor(modelItem => item.ItemPrice)
                        </td>
                        <td>
                            <a asp-action="RemoveItem" asp-route-id="@item.ItemId">Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p>
            Total Price: £@Math.Round(Model.Sum(x => x.ItemPrice), 2)
        </p>
        <input type="number" id="txtTableNumber" min="1" max="30" pattern="/d+" value="" />

        <input type="button" class="btn-default" id="btnPlaceOrder" value="Place Order" />

    }
    else
    {

        <p>Your shopping basket appears to be empty. We'll just redirect you back to the <a href="/menu">menu!</a></p>
        <script>
            setTimeout(function () {
                window.location.href = "/menu";
            }, 3000);
        </script>
    }
}




