@model IEnumerable<ISAD251CafeApplication.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

    <script>
        $(document).ready(function () {
            $("#btnPlaceOrder").click(function () {
                if (document.getElementById("txtTableNumber").value == "") {
                    alert("Nope");
                } else {
                    var url = "/Checkout/CompleteOrder/" + document.getElementById("txtTableNumber").value
                    alert(url);
                    window.location.href = url;
                }
            });
        });
    </script>


<h2>Checkout - Finalise your order</h2>

@{
    if (Model != null)
    {

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemPrice)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

               @foreach (var item in Model)
               {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemDescription)
                    </td>
                    <td>
                        £@Html.DisplayFor(modelItem => item.ItemPrice)
                    </td>
                    <td>
                        <a asp-action="RemoveItem" asp-route-id="@item.ItemId">Remove</a>
                    </td>
                </tr>
               }
            </tbody>
        </table>
        <p>
            Total Price: £@Math.Round(Model.Sum(x => x.ItemPrice), 2)
        </p>
        <input type="text" id="txtTableNumber" value="" />
        <input type="button" class="btn-default" id="btnPlaceOrder" value="Place Order" />

    }
    else
    {

        <p>Your shopping basket appears to be empty. We'll just redirect you back to the <a href="/menu">menu!</a></p>
         <script>
             setTimeout(function () {
                 window.location.href = "/menu";
             }, 3000);
         </script>
        }
    }




